:root {
  --h1-font-family: "Gilroy", Helvetica;
  --h1-font-weight: 700;
  --h1-font-size: 60px;
  --h1-letter-spacing: 0px;
  --h1-line-height: 72px;
  --h1-font-style: normal;
  --text-m-bold-font-family: "Gilroy", Helvetica;
  --text-m-bold-font-weight: 700;
  --text-m-bold-font-size: 24px;
  --text-m-bold-letter-spacing: 0px;
  --text-m-bold-line-height: 30px;
  --text-m-bold-font-style: normal;
  --text-m-font-family: "Gilroy", Helvetica;
  --text-m-font-weight: 500;
  --text-m-font-size: 24px;
  --text-m-letter-spacing: 0px;
  --text-m-line-height: 30px;
  --text-m-font-style: normal;
  --h2-font-family: "Gilroy", Helvetica;
  --h2-font-weight: 700;
  --h2-font-size: 48px;
  --h2-letter-spacing: 0px;
  --h2-line-height: 60px;
  --h2-font-style: normal;
  --h3-font-family: "Gilroy", Helvetica;
  --h3-font-weight: 400;
  --h3-font-size: 40px;
  --h3-letter-spacing: 0px;
  --h3-line-height: 0%;
  --h3-font-style: normal;
  --regular-text-font-family: "Gilroy", Helvetica;
  --regular-text-font-weight: 400;
  --regular-text-font-size: 32px;
  --regular-text-letter-spacing: 0px;
  --regular-text-line-height: 0%;
  --regular-text-font-style: normal;
}
