{% extends 'shop/base.html' %}
{% load static %}

{% block title %}Оформление заказа{% endblock %}

{% block content %}

<!-- banner -->
<div class="banner-top">
    <div class="container">
        <h2>Checkout</h2>
        <h3>
            <a href="{% url 'shopapp:index' %}">Главная</a>
            <label>/</label>
            Checkout
        </h3>
        <div class="clearfix"></div>
    </div>
</div>

<!-- checkout -->
<div class="check-out">
    <div class="container">

        <table class="table">
            <tr>
                <th>Товар</th>
                <th>Цена</th>
                <th>Кол-во</th>
                <th>Итого</th>
            </tr>

            <tr>
                <td>
                    <a href="{% url 'shopapp:single' %}">
                        <img src="{% static 'images/pcc.jpg' %}" class="img-responsive" alt="">
                    </a>
                    <h5>Sed ut perspiciatis unde</h5>
                </td>
                <td>1000 ₽</td>
                <td>1</td>
                <td>1000 ₽</td>
            </tr>
        </table>

        <div class="cart-total">
            <h4>Итого: 1000 ₽</h4>
            <a href="{% url 'shopapp:single' %}">Перейти к товару</a>
        </div>

    </div>
</div>

{% endblock %}
