{% extends "shop/base.html" %}
{% load static %}

{% block title %}Classic Style | Login{% endblock %}

{% block content %}

<!-- banner -->
<div class="banner-top">
    <div class="container">
        <h2 class="animated wow fadeInLeft" data-wow-delay=".5s">Вход</h2>
        <h3 class="animated wow fadeInRight" data-wow-delay=".5s">
            <a href="{% url 'shopapp:index' %}">Главная</a>
            <label>/</label>Вход
        </h3>
        <div class="clearfix"></div>
    </div>
</div>

<!-- login -->
<div class="login">
    <div class="container">
        <form method="post">
            {% csrf_token %}

            <div class="col-md-6 login-do1 animated wow fadeInLeft" data-wow-delay=".5s">
                <div class="login-mail">
                    <input type="text" name="username" placeholder="Email или логин" required>
                    <i class="glyphicon glyphicon-envelope"></i>
                </div>

                <div class="login-mail">
                    <input type="password" name="password" placeholder="Пароль" required>
                    <i class="glyphicon glyphicon-lock"></i>
                </div>

                <a class="news-letter" href="#">
                    <label class="checkbox1">
                        <input type="checkbox">
                        <i></i> Запомнить меня
                    </label>
                </a>
            </div>

            <div class="col-md-6 login-do animated wow fadeInRight" data-wow-delay=".5s">
                <label class="hvr-sweep-to-top login-sub">
                    <input type="submit" value="Войти">
                </label>

                <p>Нет аккаунта?</p>
                <a href="{% url 'shopapp:register' %}" class="hvr-sweep-to-top">
                    Регистрация
                </a>
            </div>

            <div class="clearfix"></div>
        </form>
    </div>
</div>

{% endblock %}
