{% extends "shop/base.html" %}
{% load static %}

{% block title %}Женская одежда{% endblock %}

{% block content %}

<!-- баннер -->
<div class="banner-top">
    <div class="container">
        <h2 class="animated wow fadeInLeft">Женская одежда</h2>
        <h3 class="animated wow fadeInRight">
            <a href="{% url 'shopapp:index' %}">Главная</a>
            <label>/</label>
            Женское
        </h3>
        <div class="clearfix"></div>
    </div>
</div>

<!-- товары -->
<div class="product">
    <div class="container">

        <!-- ЛЕВАЯ БОКОВАЯ ПАНЕЛЬ -->
        <div class="col-md-3 product-bottom">

            <div class="categories">
                <h3>Категории</h3>
                <ul class="cate">
                    <li><a href="#">Платья</a></li>
                    <li><a href="#">Куртки</a></li>
                    <li><a href="#">Обувь</a></li>
                    <li><a href="#">Аксессуары</a></li>
                </ul>
            </div>

        </div>

        <!-- ТОВАРЫ -->
        <div class="col-md-9 animated wow fadeInRight">

            <div class="mid-popular">

                {% for product in products %}
                <div class="col-sm-4 item-grid simpleCart_shelfItem">
                    <div class="grid-pro">

                        <div class="grid-product">
                            <figure>
                                <a href="{% url 'shopapp:single' product.id %}">
                                    <div class="grid-img">
                                        <img src="{{ product.image.url }}" class="img-responsive">
                                    </div>
                                </a>
                            </figure>
                        </div>

                        <div class="women">
                            <h6>
                                <a href="{% url 'shopapp:single' product.id %}">
                                    {{ product.name }}
                                </a>
                            </h6>

                            <p>
                                {% if product.old_price %}
                                    <del>{{ product.old_price }} ₽</del>
                                {% endif %}
                                <em class="item_price">{{ product.price }} ₽</em>
                            </p>

                            <a href="#" class="but-hover1 item_add">
                                Добавить в корзину
                            </a>
                        </div>

                    </div>
                </div>
                {% endfor %}

                <div class="clearfix"></div>
            </div>

        </div>

        <div class="clearfix"></div>
    </div>
</div>

{% endblock %}
