backend/venv
venv
frontend/node_modules
.idea
backend/core/static/assets
/backend/public_html/static/assets/

/backend/public_html/static/
/backend/public_html/media/

/backend/core/local_settings.py
