.always {
  padding: 10rem 0;
  color: $color-black;
  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(36.1rem, min-content));
    grid-gap: 2rem;
    justify-content: center;
  }
  &__card {
    padding: 3.2rem;
    background-color: #f8f8f8;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    align-items: center;
    transition: all 0.5s;
    &:hover {
      transform: scale(1.1);
      background-color: $color-black;
    }
    &:hover .always__descr {
      color: $color-white;
    }
  }
  &__descr {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  &__title--h4 {
    font-size: 1.4rem;
    color: #767676;
    align-self: flex-start;
  }
}
