<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}">Default Title</title>
    <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}">
</head>
<body>
<div th:fragment="layout(title, content)">
    <div class="container">
        <header th:replace="~{common/header :: header}">Header content goes here</header>

        <main th:replace="${content}">
            <p>Main content goes here</p>
        </main>

        <footer th:replace="~{common/footer :: footer}">Footer content goes here</footer>
    </div>

    <script src="/js/main.js" th:src="@{/js/main.js}"></script>
</div>
</body>
</html>