.container {
  max-width: 1280px; /* Стандартная ширина для больших экранов */
  margin: 0 auto;    /* Центрирует по горизонтали */
  padding: 0 20px;   /* Отступы по бокам, чтобы контент не прилипал к краям */
  width: 100%;
}

/* Общий стиль для всех кнопок */
.btn {
  position: relative; 
  display: inline-block;
  padding: 18px 35px;
  font-family: 'Jost', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  /* Плавный переход для всех анимируемых свойств */
  transition: transform 0.3s ease, box-shadow 0.3s ease, text-shadow 0.25s ease-in-out;
}

/* Эффект при наведении на кнопку */
.btn:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.18);
  transform: translateY(-3px);
  text-shadow: 0 0 0.6px #000;
}

.btn::before {
  content: attr(data-text);
  display: block;
  font-weight: 700;
  height: 0; 
  overflow: hidden; 
  visibility: hidden;
}

/*          СТИЛИ ШАПКИ (HEADER)      */

.header {
  background-color: #fff;
  padding: 20px 0;
  border-bottom: 1px solid #eee; 
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
  color: #21304e;
  font-family: 'Jost', sans-serif;
  font-size: 38px;
  line-height: 1;
}

.logo-bold {
  font-weight: 700;
}

.logo-regular {
  font-weight: 400;
}

.main-nav {
  display: flex;
  align-items: center;
  gap: 50px; 
}

.main-nav a {
  font-family: 'Jost', sans-serif;
  font-size: 24px;
  color: #000;
  text-decoration: none;
  font-weight: 400; 
  transition: color 0.25s ease-in-out, text-shadow 0.25s ease-in-out;
}

.main-nav a:hover {
  color: #000; 
  text-shadow: 0 0 0.6px #000; 
}


/* Анимация дрожания для иконок */
@keyframes shake {
  0%, 100% { transform: rotate(0deg) scale(1.1); }
  25% { transform: rotate(8deg) scale(1.1); }
  75% { transform: rotate(-8deg) scale(1.1); }
}

.header-contacts {
  display: flex;
  flex-direction: column; 
  align-items: flex-end;  
  gap: 10px;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 30px; 
}

.social-links .social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transition: transform 0.2s ease-out;
}

.social-links .social-link:hover {
  animation: shake 0.4s ease-in-out;
  transform: scale(1.1);
}

.social-links .social-link img {
  width: 48px;
  height: 48px;
}

.header-contacts .phone-number {
  font-family: 'Jost', sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: #000;
  text-decoration: none;
  white-space: nowrap; 
}


/*     СТИЛИ ГЛАВНОГО ЭКРАНА (HERO)    */

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/main_background.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  
  min-height: 800px; 
  display: flex;
  align-items: flex-end; 
  padding-bottom: 100px; 
}

.hero-content {
  max-width: 1100px; 
}

.hero-content h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.2;
  margin: 0 0 20px 0;
}

.hero-content .hero-subtitle {
  font-size: 30px;
  font-weight: 500;
  font-style: italic;
  margin: 0 0 40px 0;
  max-width: 950px; 
}

.hero .btn {
  font-size: 30px;
  padding: 20px 50px;
}

/*        СТИЛИ СЕКЦИИ УСЛУГ          */

.services {
  padding: 100px 0;
  background-color: #f8f8f8; 
}

.section-title {
  font-family: 'Jost', sans-serif;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  color: #000;
  margin: 0 0 60px 0; 
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px; 
}

.service-card {
  background-color: #fff;
  border-radius: 20px;
  padding: 40px 30px;
  text-align: center;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
}

.service-card:hover {
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.16);
}

.service-card-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover; 
  margin: 0 auto 30px auto; 
}

.service-card-title {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.3;
  color: #000;
  margin: 0 0 30px 0;
}

.service-card-list {
  list-style: none; 
  padding: 0;
  margin: 0 0 40px 0;
  text-align: left;
  font-family: 'Jost', sans-serif;
  font-size: 18px;
  color: #333;
  line-height: 1.6;
}

.service-card-list li {
  position: relative;
  padding-left: 20px; 
  margin-bottom: 10px;
}

.service-card-list li::before {
  content: '•';
  position: absolute;
  left: 0;
  top: 0;
  color: #555;
}

.btn.btn-dark {
  background-color: #0b0b0b;
  color: #fff;
  border-radius: 50px; 
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn.btn-dark:hover {
  text-shadow: 0 0 0.6px #fff;
}

.service-card .btn {
  margin-top: auto;
}

/*          СТИЛИ СЕКЦИИ АКЦИИ        */

.promo {
  background-size: 100% 100%; 
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 3), rgba(0, 0, 0, 3)), url('../images/background_for_sale.jpg');
  background-repeat: no-repeat;
  color: #fff;
  padding: 120px 0;
  text-align: left;
}

.promo-content {
  max-width: auto;
}

.promo-content h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.2;
  margin: 0 0 25px 0;
}

.promo-content p {
  font-size: 30px;
  font-weight: 500;
  font-style: italic;
  line-height: 1.5;
  margin: 0 0 45px 0;
  opacity: 0.9; 
}

.promo .btn {
  font-size: 30px;
  padding: 20px 50px;
}

/*     СТИЛИ СЕКЦИИ "КАК МЫ РАБОТАЕМ"   */

.work-process {
  padding: 100px 0;
  background-color: #fff; 
}

.process-steps {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

/* Стили для каждой карточки с этапом работы */
.step-card {
  padding: 30px;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
}

.step-card-number {
  width: 70px;
  height: 70px;
  background-color: #0b0b0b;
  color: #fff;
  border-radius: 50%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 30px;
}

.step-card-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
  color: #000;
  margin: 0 0 15px 0;
  min-height: 84px; 
}

.step-card-description {
  font-family: 'Jost', sans-serif;
  font-style: italic;
  font-size: 18px;
  line-height: 1.6;
  color: #555;
  margin: 0;
}

/*      СТИЛИ СЕКЦИИ "ПОЧЕМУ МЫ"       */

.advantages {
  padding: 100px 0;
  background-color: #fff;
}

.advantages-wrapper {
  display: flex;
  align-items: center;
  gap: 60px; 
}

.advantages-content {
  flex: 0 0 45%; 
}

.advantages-image {
  flex: 0 0 55%; 
}

.advantages .section-title {
  text-align: left;
}

.advantages-list {
  list-style: none;
  padding: 0;
  margin: 0 0 50px 0; 
}

.advantages-list li {
  display: flex;
  align-items: center;
  gap: 20px; 
  font-family: 'Jost', sans-serif;
  font-style: italic;
  font-size: 22px;
  line-height: 1.5;
  color: #333;
}

.advantages-list li:not(:last-child) {
  margin-bottom: 25px;
}

.advantages-list li::before {
  content: ''; 
  display: block;
  width: 40px;
  height: 40px;
  flex-shrink: 0; 
  background-image: url('../images/accept_galochka.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.advantages-image img {
  width: 100%; 
  height: auto;
  display: block;
  border-radius: 15px; 
}

.advantages .btn {
  max-width: 400px;
}

/*      СТИЛИ СЕКЦИИ С ФОРМОЙ         */

.contact-form-section {
  padding: 100px 0;
  background-color: #fff;
}

.contact-form-wrapper {
  display: flex;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  transition: all 0.3s ease;
}

.contact-form-wrapper:hover {
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.16);
}

.contact-form-image {
  flex: 0 0 50%; 
}

.contact-form-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
}

.contact-form-content {
  flex: 0 0 50%; 
  padding: 60px;
}

.contact-form-content h2 {
  font-size: 34px;
  font-weight: 600;
  line-height: 1.4;
  margin: 0 0 40px 0;
}

.form-input {
  width: 100%;
  padding: 18px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Jost', sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
}

.form-input::placeholder {
  color: #999;
}

.checkbox-group {
  display: flex;
  align-items: flex-start;
  margin: 25px 0;
}

.form-checkbox {
  width: 22px;
  height: 22px;
  margin-right: 15px;
  flex-shrink: 0;
  margin-top: 2px;
}

.checkbox-group label {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
}

.checkbox-group label a {
  color: #333;
  text-decoration: underline;
}

.contact-form-content .btn {
  background-color: #0b0b0b;
  color: #fff;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.contact-form-content .btn:hover {
  text-shadow: 0 0 0.6px #fff;
}

/*          СТИЛИ ПОДВАЛА (FOOTER)      */

.footer {
  padding: 60px 0;
  background-color: #fff;
  border-top: 1px solid #eee;
}

/* Контейнер в футере выстраивает ряды вертикально и центрирует их */
.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px; /* Расстояние между верхним и нижним рядом */
}

/* Стили для верхнего ряда: убираем растягивание и задаем отступы */
.footer-top {
  display: flex;
  align-items: center;
  gap: 100px; /* Отступ между элементами в верхнем ряду */
}

.footer p{
  margin: 0;
  color: #333;
  font-size: 18px;
  font-weight: 700; /* Эта строка сделает текст жирным */
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: center; /* Центрируем оба блока */
  gap: 100px; /* Задаем расстояние между блоком ссылок и блоком иконок */
  width: 100%;
}

/* Ссылки в футере теперь в ряд */
.footer-links {
  display: flex;
  flex-direction: column; /* Располагаем ссылки одна под другой */
  gap: 10px; /* Расстояние между ссылками */
} 

.footer-links a {
  position: relative; /* Это необходимо для позиционирования псевдоэлемента */
  padding-bottom: 4px; /* Это создаст отступ для будущей линии */
}

/* Создаем кастомную линию с помощью псевдоэлемента ::after */
.footer-links a::after {
  content: ''; /* Обязательное свойство для псевдоэлементов */
  position: absolute; /* Позиционируем относительно самой ссылки */
  left: 0;
  bottom: 0; /* Прижимаем линию к низу ссылки (с учетом padding-bottom) */
  
  width: 100%; /* Линия будет во всю ширину текста */
  height: 1px; /* Толщина линии */
  background-color: #333; /* Цвет линии, можно выбрать любой */

  /* Анимация: изначально линия невидима (масштаб по X равен 0) */
  transform: scaleX(0);
  transform-origin: left; /* Анимация будет идти слева направо */
  transition: transform 0.3s ease-out; /* Плавность появления */
}

/* При наведении на ссылку, мы "показываем" линию, масштабируя ее до 100% */
.footer-links a:hover::after {
  transform: scaleX(1);
}

.footer-col {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-col .logo {
  margin-bottom: 10px; 
}

.footer-col a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.footer-col a:hover {
  text-decoration: underline;
}

.footer-col a[href="#privacy-policy"] {
  text-decoration: underline;
}

.footer-col p {
  margin: 0;
  color: #333;
  font-size: 18px;
}

.footer .phone-number {
  font-weight: 600;
  font-size: 18px;
}

.footer .social-links {
  justify-content: flex-start; 
}